.blog_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  font-family: raleway;
}

.blog_item {
  border: solid 1px #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #000;
}

.author {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #000;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.content {
  color: black;
  font-size: 1em;
  margin-bottom: 10px;
}

.date {
  font-size: 0.8em;
  color: black;
  text-shadow: 1px 1px 1px #fff;
}
.category {
  font-size: 0.8em;
  color: black;
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
